<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feuille.css') }}">
    <title>accueil</title>
</head>

<body>
    <center>
        <h1>{{ titre }}</h1>

        <p class="rouge_titre">que puis je pour toi ?</p>
    </center>

    <div class="">
        <h1>Veuillez entrer votre nom</h1>
        <form action="{{url_for('text_box')}}" method="POST">
            <label for="fnom">Nom:</label>
            <input type="text" id="fnom" name="nom"><br>
            <label for="fprenom">Prenom:</label>
            <input type="text" id="fprenom" name="prenom"><br>
            <label for="fpseudo">Pseudo:</label>
            <input type="text" id="fpseudo" name="pseudo"><br>
            <label for="fsex">Sex:</label>
            <select id="fsex" name="sex">
            <option value="M">Masculin</option>
            <option value="F">Feminin</option>
        </select>
            <button type="submit">OK</button>
            </br>
        </form>
    </div>


    <br>
    <a class="bas" href="{{ url_for('upload_file') }}"> souhaitez vous enregister votre fichier dans notre base</a>
    <br>
    <center><a class="bas droite" href="{{ url_for('perdu') }}"> Cliquer sur ce lien si tu es curieux(se)</a></center>
    <br>
    <a href="{{ url_for('liste') }}"> Cliquer pour connaitre la liste des abonnes</a>
</body>

</html>