<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feuille.css') }}">
    <title>accueil</title>
</head>

<body>
    <form action="{{url_for('upload_files')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
    </form>
    <p>{{msg_f}}</p>
    <br>
    <p>statistiques du fichier {{nom_f}}</p>

    <table border=1>


        <li>{{statis}}</li>


    </table>
    <br>



    <a class="bas" href="{{ url_for('accueil') }}"> Retourner à la page d'accueil </a>

</body>



</html>