<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feuille.css') }}">
    <title>accueil</title>
</head>

<body>
    <div>
        <form action="{{url_for('upload_files')}}" method="POST" enctype="multipart/form-data">
            <p>
                <center>statistiques de votre fichier</center>
            </p>
            <input type="file" name="file" />
            <input type="submit" />
        </form>
    </div>



    <div>
        {% for table in tables %}
        <h2>{{titles[loop.index]}}</h2>
        {{ table|safe }} {% endfor %}
    </div>



    <br>



    <a class="bas" href="{{ url_for('accueil') }}"> Retourner à la page d'accueil </a>

</body>



</html>